<!DOCTYPE html>
<html>
    <head>
        <title>Positive/Negative Song Identifier</title>
    </head>
    <body>
        {% include 'nav.html'%}
        <div id="header">
            <h1>Input Year/Artist</h1>
            <p> Select Year from 1958 ~ 2019</p>
            <p> OR Select Artist from the Following List!</p>
            <p> 'Taylor Swift','Brenda Lee','James Brown','The Beach Boys','Neil Diamond'</p>
            <p> 'Eminem','Diana Ross','Beyonce','Stevie Wonder','Kenny Chesney', </p>
            <p> 'Jackie Wilson','The Beatles','Madonna','Ray Charles','Justin Bieber'</p>
            <p> 'Aretha Franklin','Marvin Gaye','Future','Glee Cast','Drake','Rod Stewart'</p>
            <p> 'Connie Francis','Tim McGraw','Lil Wayne','Dionne Warwick','The Rolling Stones'</p>
            <p> 'Chris Brown','Chicago','Elton John','Kanye West','The Temptations','Fats Domino','Elvis Presley'</p>
        </div>
        <div class="frame">
            <form method="get">
                {% csrf_token %}
                <table class="form">
                {{ form }}
                </table>
                <input type="submit" value="Submit" />
            </form>
        </div>
        <div>
            <p> Results (artist, title, year): </p>
            <p> Positive: {{ positive_artist }} , {{ positive_title}} , {{ positive_year}} </p>
            <p> Negative: {{ negative_artist }} , {{ negative_title}} , {{ negative_year}} </p>

        </div>
        
        {% if err %}
        <div class="error">
            {{ err|safe }}
        </div>
        {% endif %}
